.pageHeader {

    text-align: center;

}

.shop{

    flex-basis: 16%;
    border: dotted 2px black;
}

.list{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


    
    
}

